# Usage: pip install -r requirements.txt

# Base ------------------------------------------------------------------------
opencv-python>=4.13.0.92
#paddleocr>=3.7.0
transformers>=5.12.1
pytorch>=2.12.1
numpy>=2.5.0
#paddlepaddle-gpu>=3.3.1
sccache>=0.16.0
sentencepiece>=0.2.1
sacremoses>=0.1.1
easyocr>=1.7.2
pillow>=12.2.0


